<nav class="nav-home">
    <ul class="list">
        {% if page.title == "Home" %}
            <li class="item">
              <a class="link" href="{{ site.url }}/" style="color:#666">Home</a>
            </li>
        {% else %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}


        {% if page.title == "Publications" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/publications" style="color:#666">Publications</a>
            </li>
        {% else %}
            <li class="item">
                <a class="link" href="{{ site.url }}/publications">Publications</a>
            </li>
        {% endif %}


        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}


        {% if site.about == true %}
            {% if page.title == "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about" style="color:#666">About</a>
                </li>
            {% else %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}

    </ul>
</nav>
